.main-menu-color {
  background-color: rgba(37, 24, 64, 0.95);
}

.item-menu {
  width: 200px;
  border: solid white;
  border-width: 0px 1px 0px 1px;
}

.item-menu-text {
  font-size: 22px;
  color: white;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.item-menu:hover {
  background-color: rgba(22, 12, 41, 0.95);
  transition: 0.5s;
  cursor: pointer;
}